.modal {
  background: rgba(0, 0, 0, 0.4);
  font-size: 14px;
}

.modal__head {
  background: rgb(192, 65, 87);
  color: white;
  font-size: 20px;
  padding: 6px 16px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.modal__body {
  padding: 0 16px;
}

.backdrop {
  background: rgba(161, 18, 18, 0.4);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
